extends ../layouts/main
block content
  
  //- include ../includes/header

  .hero-banner
    .overlay(style="width:100%; height:100%")
      .row
        .small-12.columns
          h1#tagline Cooks Sandals
          h5#sub-tag Hand crafted eco-sponsible footwear

  section.carefree
    .row
      .small-12.medium-6.columns
        h2 Carefree comfort
        p Cooks sandals are made in America using salvaged materials and American made products. The process begins with salvaged polypropylene sacks, which are washed, cut, and sewn into strips. Paired to strength-tested nylon and soft denim, these plastic strips create a light and durable strap which does not retain moisture or stretch. These straps are plumbed into a foot bed made from recycled tire and sustainably harvested cork. 
      .small-12.medium-6.columns
        img(class='', src='http://placehold.it/450x300')

  section.durable
    .row
      .small-12.columns
        h2.sub-size Durable and eco-friendly
        p Hand made in Travelers Rest, South Carolina, each pair of cooks is distinctly its own. No two pairs are the same. Through unique styling and design cooks is driven to influence current style by pairing quality materials with salvaged goods to create extremely functional products that will last a lifetime. Stand for something, with a pair of flip flops constructed from new and salvaged materials. Designed to last, built to be comfortable.

  section.crafted
    .row
      .small-12.large-7.large-push-5.columns
        h2 Crafted in America
        p Cooks sandals are made in America using salvaged materials and American made products. The process begins with salvaged polypropylene sacks, which are washed, cut, and sewn into strips. Paired to strength-tested nylon and soft denim, these plastic strips create a light and durable strap which does not retain moisture or stretch. These straps are plumbed into a foot bed made from recycled tire and sustainably harvested cork.
      .small-12.large-5.large-pull-7.columns
        img(class='', src='images/merka.png')

  section.surp-comf 
    .row
      .small-12.columns
        h2.sub-size Surprisingly comfortable
        p Cooks sandals are made in America using salvaged materials and American made products. The process begins with salvaged polypropylene sacks, which are washed, cut, and sewn into strips. Paired to strength-tested nylon and soft denim, these plastic strips create a light and durable strap which does not retain moisture or stretch. These straps are plumbed into a foot bed made from recycled tire and sustainably harvested cork.


  section.etsy
    .row
      .small-12.columns.text-center
        h2 Shop our sandals
        p Our sandals are as an unique as you are. Visit our Etsy shop to see all the options to suit your style.
      .small-12.columns.text-center
        a(href="https://www.etsy.com/" target="_blank"): .button.etsy-btn Shop on Etsy



  //- include ../includes/footer

          



