extends ../layouts/main
block content
  
  //- include ../includes/header

  .hero-banner
    .overlay(style="width:100%; height:100%")
      .row
        .small-12.columns
          h1#tagline Cooks Sandals
          h5#sub-tag Surprisingly comfortable and eco-sponsible footwear

  section.surp-comf 
    .row
      .small-12.medium-6.columns
        h2.sub-size Surprisingly comfortable
        p Bacon ipsum dolor sit amet shankle pig short ribs kevin boudin jowl tenderloin, venison corned beef shank flank pork loin pork chop sausage salami. Chicken pork fatback, meatball leberkas venison kielbasa brisket spare ribs prosciutto chuck corned beef boudin pancetta shank. Chicken pork chop shank beef ribs chuck meatloaf. Rump pork loin shoulder, flank capicola ribeye venison pork chop strip steak hamburger porchetta chicken filet mignon landjaeger.
      .small-12.medium-6.columns
        img(class='', src='http://placehold.it/450x300')

  section.durable
    .row
      .small-12.columns
        h2.sub-size Durable and eco-friendly
        p Hand made in Travelers Rest, South Carolina, each pair of cooks is distinctly its own. No two pairs are the same. Through unique styling and design cooks is driven to influence current style by pairing quality materials with salvaged goods to create extremely functional products that will last a lifetime. Stand for something, with a pair of flip flops constructed from new and salvaged materials. Designed to last, built to be comfortable.

  section.crafted-section
    .row
      .small-12.medium-6.columns
        img(class='', src='http://placehold.it/450x300')
      .small-12.medium-6.columns
        h2 Crafted in America
        p Cooks sandals are made in America using salvaged materials and American made products. The process begins with salvaged polypropylene sacks, which are washed, cut, and sewn into strips. Paired to strength-tested nylon and soft denim, these plastic strips create a light and durable strap which does not retain moisture or stretch. These straps are plumbed into a foot bed made from recycled tire and sustainably harvested cork.      

  section.carefree-comfort
    .row
      .small-12.columns
        h2 Carefree comfort
        p Cooks sandals are made in America using salvaged materials and American made products. The process begins with salvaged polypropylene sacks, which are washed, cut, and sewn into strips. Paired to strength-tested nylon and soft denim, these plastic strips create a light and durable strap which does not retain moisture or stretch. These straps are plumbed into a foot bed made from recycled tire and sustainably harvested cork. 



  //- include ../includes/footer

          



