.button {
  padding: 12px;
  color: $white;
  border-radius: 4px;

  &.etsy-btn {
    background: $etsy-color;
  }
}

 //               _     _ _        __ _         _           
 //   /\/\   ___ | |__ (_) | ___  / _\ |_ _   _| | ___  ___ 
 //  /    \ / _ \| '_ \| | |/ _ \ \ \| __| | | | |/ _ \/ __|
 // / /\/\ \ (_) | |_) | | |  __/ _\ \ |_| |_| | |  __/\__ \
 // \/    \/\___/|_.__/|_|_|\___| \__/\__|\__, |_|\___||___/
 //                                       |___/              

@media only screen { 
  button {

    &.etsy-btn {
      font-size: 1.2em;
      margin: 0 auto;
    }
  }
}