.button {
  padding: 12px;
  color: $white;
  border-radius: 4px;

  &.cta-btn {
    background: $cta-color;
    padding: 16px 38px;
    text-transform: capitalize;
    &:hover {
      background: lighten($cta-color, 6%);
    }
  }
}

 //               _     _ _        __ _         _           
 //   /\/\   ___ | |__ (_) | ___  / _\ |_ _   _| | ___  ___ 
 //  /    \ / _ \| '_ \| | |/ _ \ \ \| __| | | | |/ _ \/ __|
 // / /\/\ \ (_) | |_) | | |  __/ _\ \ |_| |_| | |  __/\__ \
 // \/    \/\___/|_.__/|_|_|\___| \__/\__|\__, |_|\___||___/
 //                                       |___/              

@media only screen { 
  .button {
    &.cta-btn {
      font-size: 1.2em;
      font-style: italic;
      margin: 0 auto;
      position: absolute;
      // right: 0;
      bottom: -70px;
      @media only screen and (min-width: 640px){
        bottom: -100px;
      }
      &.btm-btn {
        // position: relative;
        bottom: -80px;
        left: 36%;
      }
    }
  }
}