$gray:  #5E5E5E;
$black: #434343;
$white: #fff;
$dark-blue: #11142D;
$light-blue: #435773;
$white-opacity: rgba(255, 255, 255, 0.87);
$secondary-background: #ecf0f1;
$tertiary-background: #2F3D2C;
$footer-main: #082103;
$footer-bottom: #8F7767;
$etsy-color: blue;
