.footer {
  width: 100%;

  .footer-bottom {
    background-color: $dark-blue;
    padding: 10px 26px;
    position: relative;

    .logo {
      vertical-align: top;
    }

    .mobile-nav {
      display: none;
    }

    .links {
      display: inline-block;
      width: 310px;
      text-align: right;

      nav {
        display: inline-block;

        ul {
          list-style-type: none;
          text-align: center;
          margin-left: 0;

          li {
            display:inline-block;

            &:hover{

            }

            a {
              color: $white;

              &:hover {
                color: $white;
                border-bottom: 2px solid $white;
              }
            }
          }
        }
      }

      h5 {
        color: $white;
        display: inline-block;
        margin: 0;
      }
    }

    .social {
      text-align: center;
      font-size: 26px;
      margin-bottom: 12px;
      margin-top: 2px;

      a {
        color: $dark-blue;
        transition: all 0.05s ease;
        
        &:hover {
          color: $white;
        }
      }
    
    }
  }
}




//               _     _ _        __ _         _           
//   /\/\   ___ | |__ (_) | ___  / _\ |_ _   _| | ___  ___ 
//  /    \ / _ \| '_ \| | |/ _ \ \ \| __| | | | |/ _ \/ __|
// / /\/\ \ (_) | |_) | | |  __/ _\ \ |_| |_| | |  __/\__ \
// \/    \/\___/|_.__/|_|_|\___| \__/\__|\__, |_|\___||___/
//                                       |___/              

@media only screen {
  .footer {
    .footer-bottom {
      padding: 40px 0;
      height: 270px;
      .logo {
        text-align: center;
        margin-bottom: 24px;
        img {
          height: 60px;
        }
      }
      h2 {
        text-align: center;
        color: $white;
      }
      .main-footer-nav {
        display: none;
      }
      .mobile-nav {
        display: block;
        text-align: center;
      }
      nav {
        display: inline-block;
        ul {
          list-style-type: none;
          text-align: center;
          margin-left: 0;
          margin-bottom: 0;
          li {
            display:inline-block;
            &:hover{
            }
            a {
              color: $white;
              font-size: 1.5em;
              &:hover {
                color: $white;
                border-bottom: 2px solid $white;
              }
            }
          }
        }
      }
      .links {
        display: block;
        width: 310px;
        text-align: center;
        margin: 0 auto;
        i {
          font-size: 0.7em;
          background: $white;
          padding: 9px 10px 6px;
          border-radius: 4px;
          transition: all 0.3s ease;
          border: 1px solid $dark-blue;
          &:hover{
            background: $dark-blue;
            border: 1px solid $white;
          }
        }
      }
      .social {
        margin-bottom: 0;
      }
      .phone-number {
        margin-top: 8px;
        h5 {
          border: 1px solid $white;
          padding: 6px 8px 10px;
          border-radius: 3px;
          font-size: 1.3em;
          margin-top: 20px;
        }
        .phone-icon {
          font-size: 1.3em;
        }
      }
    }
  }
}





//  __                 _ _   __                              
// / _\_ __ ___   __ _| | | / _\ ___ _ __ ___  ___ _ __  ___ 
// \ \| '_ ` _ \ / _` | | | \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// _\ \ | | | | | (_| | | | _\ \ (__| | |  __/  __/ | | \__ \
// \__/_| |_| |_|\__,_|_|_| \__/\___|_|  \___|\___|_| |_|___/
                                                          
// Min-width 401px;
@media only screen and (min-width: 401px){
  .footer {

    .footer-bottom {
      // height: 130px;

      .logo {

      }

      .main-footer-nav {
        display: none;
      }

      .mobile-nav {

      }

      .links {
        // width: 229px;
        nav {
          display: inline-block;

          ul {
            list-style-type: none;
            text-align: left;
            margin-left: 0;

            li {
              display:inline-block;

              a {
                color: $white;
                font-size: 1em;

                &:hover {
                  color: $white;
                  border-bottom: 2px solid $white;
                }
              }
            }
          }
        }

        .social {
          i {
            font-size: 0.7em;
          }
        }

        h5 {
          font-size: 1.2em;
        }
      }

      .footer-bottom-bar {
        background-color: $black;
        height: 50px;
      }
    }
  }

}


//                  _ _                   __                              
//   /\/\   ___  __| (_)_   _ _ __ ___   / _\ ___ _ __ ___  ___ _ __  ___ 
//  /    \ / _ \/ _` | | | | | '_ ` _ \  \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// / /\/\ \  __/ (_| | | |_| | | | | | | _\ \ (__| | |  __/  __/ | | \__ \
// \/    \/\___|\__,_|_|\__,_|_| |_| |_| \__/\___|_|  \___|\___|_| |_|___/
                                                                       
/* min-width 641px, medium screens */
@media only screen and (min-width: 641px) { 
  .footer {

    .footer-bottom {
      padding: 10px 26px 10px 10px;
      height: 190px;
      .logo {
        display: inline-block;
        margin-top: 32px;
        img {
          height: 82px;
        }
      }

      nav {
        ul {
          text-align: right;
          margin-bottom: 0;
        }
      }

      .links {
        width: 250px;
        text-align: right;
        float: right;
        padding-top: 10px;
        vertical-align: top;
        margin-top: 30px;

        .social {
          display: inline-block;
          text-align: right;
          font-size: 1.5em;
          margin-top: 8px;
        
          i {
            font-size: 0.9em;
          }
        }

        .phone-number {

          i {
            font-size: 1em;
          }

          h5 {
            font-size: 1em;
          }
        }
      }
    }
  }
}

//    __                        __                              
//   / /  __ _ _ __ __ _  ___  / _\ ___ _ __ ___  ___ _ __  ___ 
//  / /  / _` | '__/ _` |/ _ \ \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// / /__| (_| | | | (_| |  __/ _\ \ (__| | |  __/  __/ | | \__ \
// \____/\__,_|_|  \__, |\___| \__/\___|_|  \___|\___|_| |_|___/
//                 |___/                                        
/* Min-width 1025px */
@media only screen and (min-width: 1025px) { 
  .footer {

    .footer-bottom {
      .logo {
        img {
          height: 90px;
        }
      }
      .links {
          width: 308px;
          padding-top: 10px;
        nav {
          ul {
            font-size: 0.9em;
            text-align: right;
          }
        }
        .social {
          font-size: 1.2em;
          margin-top: 6px;
        }

        .phone-number {
          font-size: 0.9em;
          margin-top: 10px;

          i {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}