 .hero-banner {
  position: relative;
  width: 100%;
  background: $white;

  .row {
    h1 {
      color: $black;
      font-style: uppercase;
    }

    h5 {
      color: $black;
      margin: 0;
      font-family: 'brandon-grotesque'; 
    }
  }
  
}

// surprisingly comfortable section of page
.surp-comf {
  background: $secondary-background;

  h2 {
    text-transform: capitalize;
  }
}


// durable section of page
.durable {
  background: $secondary-background;

  .content{
    vertical-align: top;
    display: inline-block;
   
    h5 {
      margin: 10px 0 0 0;
    }

    p {
      color: $gray;
    }
  }
}

.carefree {
  background: $black;
  position: relative;
  z-index: 2;

  h2, p {
    color: $white;
  }
  // background: $white;
}

.crafted {
  background: $black;
  // background: $tertiary-background;
  color: $white;

  h2 {
    color: $white;
  }
}

.etsy {
  background: $white;
  // background: $tertiary-background;
  color: $black;

  h2 {
    color: $black;
    text-align: center;
  }

  p {
    width: 75%;
    text-align: center;
    display: inline-block;
  }
}
 //               _     _ _        __ _         _           
 //   /\/\   ___ | |__ (_) | ___  / _\ |_ _   _| | ___  ___ 
 //  /    \ / _ \| '_ \| | |/ _ \ \ \| __| | | | |/ _ \/ __|
 // / /\/\ \ (_) | |_) | | |  __/ _\ \ |_| |_| | |  __/\__ \
 // \/    \/\___/|_.__/|_|_|\___| \__/\__|\__, |_|\___||___/
 //                                       |___/              

@media only screen { 
  .surp-comf, .durable,
  .crafted, .carefree {
    padding: 24px 0;
    p {
      font-size: 1em;
    }
  }

  .hero-banner {
    height: 200px;
    padding-top: 20px;

    .row {
      background-position: 30px 20px;
      .logo {
        width: 150px;
      }
      .sandal {
        width: 50%;
        position: absolute;
        right: -7%;
        top: 60%;
      }
      h1 {
        margin-bottom: -6px;
      }
      h5 {
        font-size: 1em;
        margin-top: 6px;
      }
    }
  }

  .surp-comf {
    padding: 24px 0;
   
    h2 {
      // padding-top: 0;
    }

    p {
      // font-size: 1.2em;
    }
  }

  .durable {

    .content {
      
      h5 {
        
      }

      p {
        margin-bottom: 8px;
      }
    }
  }

  .crafted {

    h2 {
      margin-top: 24px;
    }
  }

  .carefree {
   
  }

  .etsy {
    padding: 24px 0;

    button {
      text-align: center;
    }
  }
} 
// END MOBILE STYLES


// max-width 640px, mobile-only styles, use when QAing mobile issues
@media only screen and (max-width: 40em) { 
// for QAin

} 


//  __                 _ _   __                              
// / _\_ __ ___   __ _| | | / _\ ___ _ __ ___  ___ _ __  ___ 
// \ \| '_ ` _ \ / _` | | | \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// _\ \ | | | | | (_| | | | _\ \ (__| | |  __/  __/ | | \__ \
// \__/_| |_| |_|\__,_|_|_| \__/\___|_|  \___|\___|_| |_|___/
                                                          
@media only screen and (min-width: 400px){
  .hero-banner {
    height: 220px;
    .row{
      #headline {
        width: 80%;
      }

      h5 {
        font-size: 1em;
      }
      img {
        width: 180px;
      }
    }
  }
  .surp-comf, .durable,
  .crafted, .carefree {
    padding: 40px inherit;
  }
}



//                  _ _                   __                              
//   /\/\   ___  __| (_)_   _ _ __ ___   / _\ ___ _ __ ___  ___ _ __  ___ 
//  /    \ / _ \/ _` | | | | | '_ ` _ \  \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// / /\/\ \  __/ (_| | | |_| | | | | | | _\ \ (__| | |  __/  __/ | | \__ \
// \/    \/\___|\__,_|_|\__,_|_| |_| |_| \__/\___|_|  \___|\___|_| |_|___/
                                                                       
/* min-width 641px, medium screens */
@media only screen and (min-width: 641px) { 
  .hero-banner{
    height: 400px;
    .overlay{
      padding-top: 100px;
      .row{
        #headline{
          // width: 80%;
        }
      }
    }
  }

  .surp-comf, .durable,
  .crafted, .carefree {
    padding: 60px inherit;
  }

  .surp-comf {

    img {
      margin-top: 16px;
    }
  }

  .durable {

    .content {
      text-align: left;
    }
  }

  .crafted {

    img {
      margin-top: 42px;
    }
  }

  .etsy {
    padding: 50px 0;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
//    __                        __                              
//   / /  __ _ _ __ __ _  ___  / _\ ___ _ __ ___  ___ _ __  ___ 
//  / /  / _` | '__/ _` |/ _ \ \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// / /__| (_| | | | (_| |  __/ _\ \ (__| | |  __/  __/ | | \__ \
// \____/\__,_|_|  \__, |\___| \__/\___|_|  \___|\___|_| |_|___/
//                 |___/                                        
/* Min-width 1025px */
@media only screen and (min-width: 1025px) { 
  .hero-banner{
    height: 400px;
    .overlay{
      .row{
      }
    }
  }

  .surp-comf {

  }

  .durable {

    .content {
    }
  }
}

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */