@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,700italic|Fauna+One);

h1 {
  font-family: 'brandon-grotesque';
  font-weight: 400;
} 

h2, h3 {
  font-family: 'brandon-grotesque';
  font-weight: 500;
}

h4, h5, h6 {
  font-family: 'Playfair Display';
  font-weight: 400;
}

p {
 font-family: 'brandon-grotesque';
 font-weight: 400;
}

/* Document level adjustments */
html {
  font-size: 18px;

  @media (max-width: 1024px) {
    font-size: 15px;
  }

  @media (max-width: 640px) {
    font-size: 14px;
  }
  @media (max-width: 399px) {
    font-size: 13px;
  }

}



