.footer
  .footer-bottom
    .row
      .logo: img(src="images/cooks-logo-white.png" alt="Cooks")
      .links
        //- nav
        //-   ul
        //-     li: a(href="") Nav 1
        //-     .spacer
        //-     li: a(href="") Nav 2
        //-     .spacer
        //-     li: a(href="") Nav 3
        .social
          a(href="https://www.instagram.com/cooksflips" target="_blank") 
            i.ss-icon.ss-social Instagram
          .spacer
          a(href="https://www.twitter.com/" target="_blank") 
            i.ss-icon.ss-social Twitter
          .spacer
          a(href="https://www.facebook.com/pages/Cooks-flips/806806262730313" target="_blank") 
            i.ss-icon.ss-social Facebook
          .spacer
          a(href="mailto:.com?subject=Inquiry from our Site") 
            i.ss-icon.ss-social Email
        .phone-number
          a(href="tel:+1-864-915-3270")
            h5 (864) 915-3270
    .signature
      span Built by
      a(href="http://www.ryedev.com" target="_blank"): img(src="images/rye-logo.png" alt="Rye Development")
